.translation-wrap {
  color: #333;
  font-family: arial, sans-serif;
  width: 320px;
  border: 1px solid #8ca8c5;
  padding: 2px;
  background: #fff;
  text-align: left;
  position: relative;
  opacity: 0;
  transition: opacity 300ms linear; }
  .translation-wrap ol li,
  .translation-wrap p,
  .translation-wrap span,
  .translation-wrap ul li {
    font-size: 12px; }
  .translation-wrap ul,
  .translation-wrap li,
  .translation-wrap dl,
  .translation-wrap dd,
  .translation-wrap h1,
  .translation-wrap h3 {
    margin: 0;
    padding: 0;
    list-style: none; }
  .translation-wrap.show {
    opacity: 1; }
  .translation-wrap .triangle {
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -10px; }
  .translation-wrap .triangle:after,
  .translation-wrap .triangle:before {
    content: " ";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 0;
    width: 0;
    height: 0; }
  .translation-wrap.triangle-top .triangle {
    top: 0px; }
  .translation-wrap.triangle-top .triangle:before {
    border-bottom: 10px solid #8ca8c5;
    bottom: 1px;
    z-index: 1; }
  .translation-wrap.triangle-top .triangle:after {
    border-bottom: 9px solid #fff;
    bottom: 0;
    z-index: 2; }
  .translation-wrap.triangle-bottom .triangle {
    bottom: 0px; }
  .translation-wrap.triangle-bottom .triangle:before {
    border-top: 10px solid #8ca8c5;
    top: 1px;
    z-index: 1; }
  .translation-wrap.triangle-bottom .triangle:after {
    border-top: 9px solid #fff;
    top: 0;
    z-index: 2; }
  .translation-wrap .translation-header {
    height: 20px;
    background: linear-gradient(#e5f3fc, #cbe7f8);
    font-size: 12px;
    color: #84859a;
    box-shadow: -1px 0px 0 0 #cbe7f8, 1px 0px 0 0 #cbe7f8, 0px -1px 0 0 #cbe7f8;
    display: flex;
    align-items: center; }
    .translation-wrap .translation-header .icon {
      margin-left: 8px;
      background: url("chrome-extension://__MSG_@@extension_id__/imgs/16.png");
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px; }
  .translation-wrap .translation-content {
    padding: 0px 8px;
    border: 1px solid #8ca5c5;
    box-shadow: -1px 0px 0 0 #cbe7f8, 1px 0px 0 0 #cbe7f8, 0px 1px 0 0 #cbe7f8; }
    .translation-wrap .translation-content.sentence h3 .icon-pronounce {
      margin: 0; }
    .translation-wrap .translation-content h3.h3title {
      display: flex;
      align-items: center; }
      .translation-wrap .translation-content h3.h3title .icon-pronounce {
        margin-right: 5px !important; }
    .translation-wrap .translation-content h3 {
      line-height: 20px;
      margin: 3px 0; }
      .translation-wrap .translation-content h3 .pronounce, .translation-wrap .translation-content h3 title1 {
        display: flex;
        align-items: center; }
      .translation-wrap .translation-content h3 .transition-word {
        font-size: 14px;
        color: #313131;
        font-weight: bold;
        margin-right: 5px; }
      .translation-wrap .translation-content h3 .pronounce {
        margin-right: 5px;
        color: #666;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .translation-wrap .translation-content h3 .icon-pronounce {
        margin-left: 5px;
        background: url(chrome-extension://__MSG_@@extension_id__/imgs/pronounce.png);
        display: inline-block;
        width: 14px;
        height: 14px; }
      .translation-wrap .translation-content h3 .icon-note {
        cursor: pointer;
        font-size: 12px;
        font-style: normal;
        /*background:url(chrome-extension://__MSG_@@extension_id__/public/imgs/n16-png);*/
        display: inline-block;
        height: 16px;
        line-height: 16px;
        color: #3E62A6;
        background: none; }
      .translation-wrap .translation-content h3 [class$=go-detail], .translation-wrap .translation-content h3 [class$=go-blank] {
        cursor: pointer;
        color: #3E62A6;
        margin-left: 5px;
        font-size: 12px; }
    .translation-wrap .translation-content .explain {
      font-size: 12px; }
      .translation-wrap .translation-content .explain .explain-item {
        font-size: 14px;
        height: 25px;
        line-height: 25px;
        margin: 3px 0;
        color: #313131; }
    .translation-wrap .translation-content .web-title {
      color: #959595;
      font-size: 14px;
      position: relative; }
      .translation-wrap .translation-content .web-title .title {
        background: #fff;
        position: relative;
        z-index: 2;
        padding-right: 10px; }
      .translation-wrap .translation-content .web-title:before {
        content: " ";
        border-top: 1px dotted #CECECE;
        position: absolute;
        top: 50%;
        width: 90%;
        z-index: 1; }
    .translation-wrap .translation-content .web-explain-list {
      font-size: 14px; }
      .translation-wrap .translation-content .web-explain-list .web-explain-title {
        color: #313131;
        font-weight: bold; }
      .translation-wrap .translation-content .web-explain-list .web-explain-detail {
        margin: 5px 0;
        color: #333; }


/*# sourceMappingURL=content.css.map*/